body{
	overflow-x: hidden;
}
.flex-containers{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border: 1px solid grey;
	padding: 3px;
	border-radius: 50px;
}
.faq-bg {
	background-image: url("./images/faq1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 500px 400px;
}
.blur-bg{
	background: rgba(255, 255, 255, 0.192);
    backdrop-filter: blur(5px);
}
.star-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.star-head {
	flex-basis: 10%;
	pading: 2%;
	margin-left: 10px;
}
.detail{
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	cursor: pointer;
}
.detail-info {
	padding: 3%;
}
.style {
	display: none;
}
.detail:hover{
	background-color: #E8E8E8;
	border: none;
	border-radius: 50px;
}
.detail h5{
	text-align: center;
	color: grey;
}
.detail-active{
	background-color: #3333ff;
	border: none;
	border-radius: 50px;
}
.detail-active:hover{
	background-color:  #6666ff;
}
.detail-active h5{
	color: white;
}
.product-container{
	background-image: url("./images/wave.png");
	background-repeat: no-repeat;
	padding: 5%;
	border-radius: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: #6666ff;
	font-weight: bold;
	font-size: 19px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	text-decoration: none;
}
.mid {
	transform: translate(0%, 13%);
}
#mid {
	transform: translate(0%, 40%);
}
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	transition: width 0.6 ease;
}
.faq {
	border-bottom: 1px solid grey;
	padding: 3%;
	cursor: pointer;
}
.no-use {
	padding: 5%;
}
.detailed {
	padding: 6%;
	background: radial-gradient(#1fe4f5, #3fbafe);
	border-radius: 25px;
	box-shadow: 10px 10px 47px 9px rgba(178,245,255,1);
}
.box a{
	text-decoration: none;
}
.box a:hover {
	text-decoration: none;
}
.disclaimer {
	padding: 6%;
	background-color: #003cb3;
	color: white;
	border-radius: 25px;	
	margin-top: 5%;
	box-shadow: 10px 13px 47px 9px rgba(145,163,242,1);
}
.just-border {
	border-left: 1px solid grey;
	margin-left: 3%;
	padding: 3%;
}
.answer {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
.dot:hover {
	background-color: #3333ff;
} 
.act {
	background-color: #3333ff;
	width: 30px;
	border-radius: 25px;
}
.prev {
	left: 0;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
	text-decoration: none;
	background-color: #E8E8E8;
}
.just-pad{
	padding: 5%;
}
.product-image{
	padding: 5%;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.808);
    backdrop-filter: blur(1.5rem);
	flex-basis: 15%;
	box-shadow: 0px 11px 44px -5px #878487;
}
.product-image img{
	width: auto;
	height: auto;
}
.product-info{
	flex-basis: 50%;
	background-color: white;
	border-radius: 10px;
	padding: 5%;
	box-shadow: 0px 18px 18px 0px #d4d0d4;
}
.product-info h2{
	color: #3333ff;
	font-family: 'Merriweather', serif;
}
.product-info p{
	color: grey;
}
.product-rate{
	flex-basis: 15%;
	/*background-color: white;*/
	border-radius: 10px;
	padding: 2%;
}
.box{
	background-color: white;
	border-radius: 5px;
	padding: 5%;
	width: 100%;
	margin-top: 25%;
	box-shadow: 0px 28px 37px -8px #b3afb3 ;
	color: #3333ff;
	display: grid;
	place-items: center;
}
.box h6{
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
	margin-bottom: 5%;
}
.circular-progress {
    height: 70px;
    width: 70px;
    background-color: orange;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.circular-progress:before {
    content: "";
    position: absolute;
    height: 62px;
    width: 62px;
    background-color: #ffffff;
    border-radius: 50%;
    align-content: center;
}
.body-copy span{
	font-size: 35px;
	font-weight: bold;
}
.star-prog {
	height: 15px;
	width: 300px;
	margin-left: 3%;
	flex-basis: 50%;
}
.rating-star {
    margin-left: 5%;
	border-left: 1px solid grey;
}
.value-container {
    position: relative;
    font-family: "Poppins" ,sans-serif;
    font-size: 17px;
    color: #3333ff;
}
.rating {
	padding: 3%;
}
.reviews {
	padding: 2%;
	border-bottom: 1px solid grey;
}
.reviews i{
	color: #ff9933;
}
.review {
	margin-top: 3%;
	padding: 3%;
	border-top: 1px solid grey;
	background-image: url("./images/user-rating.jpg");
	background-position: right;
	background-repeat: no-repeat;
}
.rating-card {
	background-color: #ccf2ff;
	padding: 3%;
	border-radius: 10px;
}
.rating-card i{
	color: #ff9933;
}
.swing-in-top-bck {
	-webkit-animation: swing-in-top-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
.fad{
	animation-name: fad;
	animation-duration: 1.5s;
}
@keyframes fad {
	from {opacity: 0.4;}
	to {opacity: 1;}
}
@keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
