.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.center {
	padding: 10%;
}

.device-list {
	flex-basis: 75%;
	padding: 5%;
}

.filters {
	padding: 5%;
	width: 25%;
}

.view-more {
	color: #3CC3E3;
	cursor: pointer;
}

.down-side {
	border-top: 1px solid grey;
	background: rgba(255, 255, 255, 1);
	position: sticky;
	bottom: 0;
	justify-content: space-between !important;
}

.cards a {
	text-decoration: none;
	color: black;
}

.cards a:hover {
	text-decoration: none;
	color: black;
}

.top {
	background: rgba(255, 255, 255, 1);
	position: sticky;
	top: 0;
}

.close {
	border: 1px solid #3CC3E3;
	color: #3CC3E3;
	padding: 7%;
	width: 50%;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
}

.apply {
	color: white;
	background-color: #3CC3E3;
	padding: 10%;
	width: 50%;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
}

.apply:hover {
	background-color: #63d0e9;
}

.category {
	display: block;
	width: 100%;
	border-bottom: 1px solid grey;
	padding: 3%;
}

.category label {
	padding-left: 5%;
}

.sort {
	padding-left: 25%;
}

.drop-down {
	border: 1px solid grey;
	border-radius: 10px;
	height: fit-content;
}

.drop-list {
	padding: 1%;
	width: 15%;
	display: none;
	background-color: white;
	box-shadow: 4px 5px 13px -1px #000000;
	position: absolute;
	z-index: 1;
}

.drop-list h5 {
	padding: 3%;
}

.drop-list h5:hover {
	background-color: #e6ffff;
	color: #1affff;
}

.drop-list .active {
	background-color: #e6ffff;
	color: #1affff;
	font-weight: bolder;
}

.drop {
	cursor: pointer;
	padding: 2%;
	width: 50%;
	float: left;
}

.drop-down h5 {
	color: grey;
	padding: 3%;
}

.cards {
	border: 1px solid grey;
	border-radius: 7px;
	transition: transform 0.5s;
	cursor: pointer;
}

.cards:hover {
	transform: translate(-25px, -25px);
	box-shadow: 2px 7px 33px -1px #96e9f2;
	border: none;
}

.info h5 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.add-cart {
	display: none;
}

.add-cart h5 {
	border-radius: 10px;
	padding: 3%;
	background-image: linear-gradient(to right, #009999, #e6ffff);
}

.cards:hover .add-cart {
	display: block;
}

.swing-top {
	-webkit-animation: swing-top 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	animation: swing-top 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.swing-out-top {
	-webkit-animation: swing-out-top 0.6s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
	animation: swing-out-top 0.6s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}

.sidepanel .list {
	height: 50%;
}

.sidepanel {
	width: 0;
	position: fixed;
	z-index: 1;
	height: 100%;
	top: 0;
	right: 0;
	background-color: white;
	overflow-x: hidden;
	transition: 0.5s;
	color: black;
	box-shadow: -5px 6px 19px -4px #828082;
}

.sidepanel div {
	padding: 2%;
}

.sidepanel label {
	margin-left: 5%;
}

@keyframes swing-top {
	0% {
		-webkit-transform: rotateX(70deg);
		transform: rotateX(70deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 0;
	}

	100% {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 1;
	}
}

@keyframes swing-out-top {
	0% {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 1;
	}

	100% {
		-webkit-transform: rotateX(-100deg);
		transform: rotateX(-100deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 0;
	}
}