.topbar{
  background-color:#3CC3E3;
  width:100%;
  height:fit-content;
  background-size: 100%;
  position:sticky;
  top:0;
}
.loj{
  display:none;
}
.logo{
  float:left;
  width:100px;
  height:auto;
}
.nkn{
  display: none;
}
.x{
  background-color: rgba(53,194,169,.24);
  height: 55%;
  border: 10%;
}
.x h4{
  font-size: x-large;
}
.x1 h4{
  font-size: x-large;
}
.x2 h4{
  font-size: x-large;
}
.y{
  background-color: #10847e;
}
.btn1{
  border: none;
  border-radius: 5%;
  color: white;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.y1{
  background-color: #fc8019;
}
.y2{
  background-color: #00b9e1;
}
.x1{
  background-color: #fdf2d2;
  height: 55%;
  border: 10%;
}
.x1 img{
  width:45%;
  height:auto; 
}
.x2{
  background-color: #d6f0ff;
  height: 55%;
  border: 10%;
}
.margin1{
 padding: 2%;
}
.x2 img{
  width:45%;
  height:auto;
}
.pad{
  padding:0% 5% 0% 5%;
  border-radius: 5%;
}
.sd a{
  width: fit-content;
  height: fit-content;
  border: none;
}
.sd a:hover{
  text-decoration: none;
  color: white;
  background-color:#7fd8ecb0 ;
  border-radius: 5%;
}
.x img{
  width:45%;
  height:auto;
}
form.exampl input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  border-left: none;
  width: 50%;
  background: white;
  margin-top: 25px;
}

form.exampl button {
  float: left;
  width: 5%;
  padding: 10px;
  background: #ddd;
  color: black;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 0px 15px 15px 0px;
  border-left: none;
  cursor: pointer;
  margin-top: 25px;
}

form.exampl button:hover {
  background: #ccc;
}

form.exampl::after {
  content: "";
  clear: both;
  display: table;
}
.i img{
  width:100%;
  height: auto;
}
.mid{
  margin:3%;
}
.h:hover img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5%;
}
.h1 img{
  width:100%;
  height: auto;
  transition: transform 0.2s;
}
.h1:hover img{
  width: 100%;
  transform: scale(1.1);
  height: auto;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cont{
  text-align: center;
  padding: 10px 20px;
}
.cont1{
  text-align: center;
  padding: 10px 20px;
}
.button {
  background-color: white;
  border: 1px solid grey;
  border-right: none;
  border-radius: 15px 0px 0px 15px;
  color: #D5F2EE;
  padding: 11px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px 4px 47px;
  cursor: pointer;
  float: left;
  margin-top: 25px;
}
.button::after{
  content: "";
  clear: both;
  display: table;
}
.login{
  margin: 35px;
}
.sd{
  font:45px;
}
.sd a{
  padding:10px;
  text-decoration: none;
  color:white;
}
.content{
  background-image: url("./images/slider-hero-bg.jpg");
  width : 100vw;
  height : 42vw;
  background-repeat: no-repeat;
}
#cont{
  padding: 1%;
}
.covid{
  padding: 1%;
  border : none;
  border-radius: 7%;
  background-color: #ff3300;
  color:white;
  width:fit-content;
  height: fit-content;
}
.zoom{
  animation: zoom 0.4s;
}
.margin{
  margin: 7vw 0 0 17vw;
}
.klc{
  
  border-left:3px solid #ff3300;
  padding: 3px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(104, 235, 235);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
}
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.bn{
  margin:25px;
  padding: 1%;
  border : none;
  border-radius: 15px;
  background-color: #3CC3E3;
  color:white;
  width:fit-content;
  height: fit-content;
}
.bn:hover{
  background-color: #ff3300;
}
.bn a:hover{
  text-decoration: none;
  color:white
}
.bn a{
  text-decoration: none;
  color: white;
  font-size: larger;
}
.card{
  border:1px solid grey;
  margin: 10px;
  -webkit-box-flex: 1;
  flex: 1;
  border-radius: 6px;
  border: 1px solid #dfe3e6;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: relative;
}
.card1{
  height: 115px;
  border-radius: 6px 6px 0 0;
  position: absolute;
  width: 100%;
}
#il img{
  width:100px; 
  height:auto; 
  float: left;
}
.dis{
  display: block;
}
.menu{
  padding: 3%;
  color:white;
}
@keyframes zoom{
  from{transform: scale(0);}
  to{transform: scale(1);}
}
@media screen and (max-width: 900px) {
  .dis{
    display: none;
  }
  .x img{
    display: none;
  }
  .x1 img{
    display: none;
  }
  .margin{
    font-size: medium;
  }
  .x2 img{
    display: none;
  }
  .x h4{
    font-size: medium;
  }
  .x1 h4{
    font-size: medium;
  }
  .x2 h4{
    font-size: medium;
  }
  .nkn{
    display: block;
  }
  #lkg{
    display: none;
  }
  form.exampl input[type=text] {
    width: 40%;
    border: 1px solid grey;
  }
  form.exampl button {
    width: 10%;
  }
  .content{
    display: none;
  }
  .cont h4{
    font-size: medium;
  }
  .cont{
    height: 30%;
    overflow: hidden;
  }
  .cont p{
    font-size: small;
  }
  .loj{
    display: block;
  }
  .cont1{
    height: 40%;
  }
  #so h2{
    font-size: medium;
  }
  #so h4{
    font-size: small;
  }
  #il img{
    width: 50px;
    height: auto;
  }
  #il h4{
    font-size: small;
  }
  #ui{
    display: none;
  }
  #ul{
    display: none;
  }
  #bg{
    display: block;
  }
  #li{
    display:none;
  }
  #li1{
    display:none;
  }
  #lo{
    display:none;
  }
}
